/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-font {
    font-family: "Raleway", sans-serif;
}

.inter-font {
    font-family: "Inter", sans-serif;
}

/* custom color */
.color-primary {
    color: #1DD100;
}

.bg-color-primary {
    background-color: #1DD100;
}

/* bg for coupon and info */
.coupon-bg {
    background-image: url('../images/cupon-devider.png');
    background-repeat: no-repeat;
    background-position: 68% 50%;
    background-size: contain;
}

.info-bg {
    background-image: url('../images/info-devider.png');
    background-repeat: no-repeat;
    background-position: 68% 50%;
    background-size: contain;
}